.user-choice {
  grid-column: 3 / 11;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rated-advice {
  grid-column: 3 / 11;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
}

.bold {
  font-weight: bold;
}

.intro-text {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.call-to-action {
  margin-top: 1.3rem;
  font-size: 1.9rem;
}

.introBlock {
  background-color: rgba(45, 52, 54, 1);
}

@media screen and (max-width: 750px) {
  .rated-advice {
    grid-column: 2 / 12;
  }

  /* ToDo this wont be applied until it's turned into a class*/
  h1 {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1.5rem;
  }

  .call-to-action {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .rated-advice {
    grid-column: 3 / 11;
  }

  .introBlock {
    grid-column: 1 / 13;
  }

  .user-choice {
    grid-column: 1/13;
  }
}

@media screen and (max-width: 450px) {
  .rated-advice {
    grid-column: span 12;
  }
}
