.card {
  background-color: rgba(45, 52, 54, 1);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 2rem;
}

.introBlock {
  grid-column: 3 / 11;
  padding: 2rem;
  text-align: center;
}

.adviceCard {
  grid-column: 3 / 11;
  padding: 3rem;
}

@media screen and (max-width: 750px) {
  .introBlock {
    grid-column: 2 / 12;
  }

  .adviceCard {
    grid-column: span 12;
  }
}

@media screen and (max-width: 620px) {
  .introBlock {
    grid-column: span 12;
  }
}
